.logo {
    align-self: center;
    display: inline-block;
    padding: 20px 40px;
    margin: 20px 0;
    h1 {
        margin: 0;
        display: inline-block;
    }
}

.nav-footer {
    align-items: start;
    justify-content: space-between;
    margin: 100px 0 20px 0;
}